name: Publish package to NPM

permissions:
  id-token: write # Required for OIDC
  contents: read

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Update npm
        run: npm install -g npm@latest

      - name: Check publish status
        id: check
        run: |
          NEXT_VERSION=$(jq -r '.version' < package.json)
          STATUS=$(curl --write-out '%{http_code}\n' --head --silent --output /dev/null https://registry.npmjs.org/eslint-plugin-libram/$NEXT_VERSION)
          echo "status=$STATUS" >> "$GITHUB_OUTPUT"

      - name: Exit if already published
        if: ${{ steps.check.outputs.status != '404' }}
        run: exit 1
        env:
          STATUS: ${{ steps.check.outputs.status }}

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Update data
        run: yarn updateData

      - name: Publish to NPM
        run: npm publish
